body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Top section styling */ 

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0; 
}

p,
li {
    font-size: 18px;
    /* color: #848884; */
    color: #E5E7EB;

}


p {
    margin: 10px 0;
}

.top-section {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.main-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 16px;
}

.nav-links {
    display: flex;
    gap: 16px;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}


.top-section-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
    margin: 50px 0 100px 0;

}

.header-text {
    width: 25em;
}

.hero-image {
    display: flex;
    flex-shrink: 0;
    background-color: grey;
    justify-content: center;
    align-items: center;
    width: 25em;
}


.sign-up-btn {
    background-color: #3882F6;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    padding: 6px 24px;
    border-style: none;
    
}

/* Middle section styling */

.mid-section-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    margin-top: 50px;
}

.middle-section {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 50px;
    margin-bottom: 110px;
    text-align: center;
}

.info {
    max-width: 160px;
}

.box {
    min-height: 150px;
    width: 150px;
    border: 5px solid #3882F6;
    border-radius: 10%;
}

.text {
    color: #848884;
    font-size: 18px;
    margin-top: 10px;
}

/* Quote section styling */

.quote-section {
    display: flex;
    background-color: #E5E7EB;
    padding: 56px 0;
    justify-content: center;
}

.quote-container {
    flex-basis: 45%;
    padding: 50px 0;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.quote-author {
    text-align:right;
    font-weight: bolder;
    align-self: flex-end;
}

/* Call to action styling */

.call-to-action-section {
    display: flex;
    justify-content: center;
}

.call-to-action-info {
    display: flex;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 50px;
    flex-basis: 60%;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0;
}

.call-to-action-text-container {
    display: flex;
    flex-direction: column;
}

.call-to-action-section .sign-up-btn {
    border: 1px solid white;
    align-self: flex-end;
}

.call-to-action-section p {
    margin: 0;
}

.call-to-action-section .text {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

/* Footer Styling */

footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: white;
    padding: 40px;
}